.Content2_img {
    width: 412px;
    height: 412px;
}

.Content2_Item {
    overflow: hidden;
    border-radius: 16px;
    padding-top: 32px;
}

.Content2_Item--item {
    display: flex;
    min-width: 100%;
    max-width: 100%;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
}

.Content2_Item--text, .Content2_Item--dev {
    color: #000;
}

.Content2_Item--text {
    font-size: 18px;
    line-height: 1.4;
    padding: 12px 16px;
}

.Content2_Item--dev {
    font-weight: 500;
}

.Content2_Item--job {
    color: #999;
    font-weight: 300;
}