.Intro_content_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    color: #fff;
}

.Intro_content_box li:first-child {
    font-size: 52px;
    font-weight: 500;
    width: 70%;
    text-align: left;
    line-height: 1.4;
    padding: 48px 0 32px 0;
}

.Intro_content_box li:nth-child(2) {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 60px;
    width: 65%;
    text-align: left;
}

.Intro_content_login {
    text-decoration: none;
    background-color: #fff;
    padding: 20px 28px;
    border: 2px solid #fff;
    border-radius: 28px;
}

.Intro_content_login:hover {
    opacity: 0.9;
}

.login_link--span1 {
    color: #000
}