ul {
    display: flex;
    list-style: none;
    margin: 0;
    color: rgb(162,162,164);
    align-items: center;
}

ul .header_navs_item {
    min-width: 60px;
    padding: 10px;
}

ul .header_navs_item:hover {
    color: white;
}

ul svg:hover {
    fill: #ffffff;
}

ul .header_navs_item:hover, ul .header_navs_item svg:hover {
    cursor: pointer;;
}

ul svg {
    scale: 0.6;
}
