span {
    margin-top: auto;
    margin-bottom: auto;
}

.sticky_logo {
    width: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.sticky_logo:hover {
    cursor: pointer;
}