
.filter-input{
    max-width: 100%;
}

.filter-th{
    max-width: 100px;
    min-width: 75px;
}

.edit-td{
    max-width: 100px;
    min-width: 75px;
    background-color: rgba(239, 252, 188, 0.436);
}