*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table{
    width: 95%;
    margin: auto;
}

table th,
table td{
    border-bottom: 2px solid #dcdcdc;
    padding: 6px 8px;
    text-align: center;
    font-size: 0.85rem;
}

table th{
    background-color: #f0f0f088;
}

.data-form form{
    display: flex;
    flex-wrap: wrap;
    background: #eee;
    align-items: flex-end;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.data-form form > div {
    width: 50%;
    padding: 4px 10px
}

.data-form label{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.data-form input,
.data-form select,
.data-form label{
    display: block;
    width: 100%;
}
button{
    padding: 2px 4px;
    font-size: 12px;
    margin-right: 2px;
}

.form-button{
    margin-top: 1rem;
}


@media screen and (min-width: 540px){
    .data-form form{
        width: 540px;
    }
}

@media screen and (max-width: 540px){
    .data-form form{
        width: 100%;
    }
}


